@model ECommerceStore.Models.ViewModels.ProductListViewModel

@{
    ViewData["Title"] = "Store";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="row">
    <div class="col-md-3"> @*Catagories*@
        <div class="list-group list-group-flush">
            @foreach (var catagory in Model.Catagories)
            {
                @if (!string.IsNullOrEmpty(Model.CurrentCatagory) && Model.CurrentCatagory.ToLower() == catagory.ToLower())
                {
                    <a class="list-group-item list-group-item-action active" asp-controller="Home" asp-action="Index" asp-route-catagory="@catagory">@catagory</a>
                }
                else
                {
                    <a class="list-group-item list-group-item-action" asp-controller="Home" asp-action="Index" asp-route-catagory="@catagory">@catagory</a>
                }
            }
        </div>
    </div>

    <div class="col-md-9"> @*Products*@
        <div class="row">
        @{
            int i = 0;
            foreach (Product item in Model.Products)
            {
                if (i == 3)
                {
                    <div class="w-100"></div>
                    i = 0;
                }

                @await Html.PartialAsync("ProductSummary", item);
                i++;
            }
        }
        </div>
    </div>
</div>

<nav class="mt-4"> @*Pagination*@
    <ul class="pagination justify-content-center">

        @if(Model.CurrentPage > 1)
        {
            <li class="page-item"><a class="page-link" asp-controller="Home" asp-action="Index" asp-route-catagory="@Model.CurrentCatagory" asp-route-page="@(Model.CurrentPage - 1)">Previous</a></li>
        }
        else
        {
            <li class="page-item disabled"><a class="page-link">Previous</a></li>
        }
        
        @if (Model.CurrentPage < 3)
        {
            @for (int x = 1; x <= 3; x++)
            {
                if (Model.CurrentPage == x)
                {
                    <li class="page-item active"><a class="page-link" asp-action="Index" asp-route-catagory="@Model.CurrentCatagory" asp-route-page="@x">@x</a></li>
                }
                else
                {
                    <li class="page-item"><a class="page-link" asp-action="Index" asp-route-catagory="@Model.CurrentCatagory" asp-route-page="@x">@x</a></li>
                }
            }
        }
        else
        {
            <li class="page-item"><a class="page-link" asp-action="Index" asp-route-catagory="@Model.CurrentCatagory" asp-route-page="@(Model.CurrentPage - 1)">@(Model.CurrentPage - 1)</a></li>

            <li class="page-item active"><a class="page-link" asp-action="Index" asp-route-catagory="@Model.CurrentCatagory" asp-route-page="@(Model.CurrentPage)">@(Model.CurrentPage)</a></li>

            <li class="page-item"><a class="page-link" asp-action="Index" asp-route-catagory="@Model.CurrentCatagory" asp-route-page="@(Model.CurrentPage + 1)">@(Model.CurrentPage + 1)</a></li>
        }

        <li class="page-item"><a class="page-link" asp-action="Index" asp-route-catagory="@Model.CurrentCatagory" asp-route-page="@(Model.CurrentPage + 1)">Next</a></li>
    </ul>
</nav>