@model IEnumerable<ECommerceStore.Models.Order>

@{
    ViewData["Title"] = "Orders";
    Layout = "_AdminLayout";
}

<h1>Orders</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shipped)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                    @if (item.Shipped)
                    {
                        <span>Shipped</span>
                    }
                    else
                    {
                        <span>Not Shipped</span>
                    }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                <form class="d-inline" asp-action="MarkShipped" method="post">
                    <input type="hidden" name="id" value="@item.Id">
                    <button class="btn btn-sm btn-danger">Ship</button>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
